.ipynb_checkpoints
__pycache__/
*.py[cod]

kovis/result
dsae/result
pcd_benchmark/
/mover/runs/
/mover/ckpnt*
/mankey/experiment/ckpnt*
/mankey/experiment/box_ckpnt*
/mankey/experiment/box_fix_ckpnt*
/mankey/experiment/runs
/mankey/experiment/tmp
/mrcnn/ckpnt*
/mrcnn/test1.jpeg
/mrcnn/proposal-v1.docx
/mankey/log

coarse.ply
fine-1.ply
fine-2.ply
heatmap.ply
